{
        "auths": {
                "{{ docker_private_repo_auth_host }}:9080": {
                        "auth": "{{ docker_private_repo_auth_hash }}"
                },
                "{{ docker_private_repo_auth_host }}:9081": {
                        "auth": "{{ docker_private_repo_auth_hash }}"
                },
                "{{ docker_private_repo_auth_host }}:9082": {
                        "auth": "{{ docker_private_repo_auth_hash }}"
                }
        }
}