{
        "auths": {
{% for regestry in docker_private_repo_auth_host  %}
                "{{ regestry.host }}": {
                        "auth": "{{ regestry.hash }}"
                },
{% endfor %}
        }
}
